<div class="row">
    <div class="col-md-4">From: </div>
    <div class="col-md-4">myData[]: [{{ myData }}]</div>
    <div class="col-md-4">newCreatedArray[]: [{{ newCreatedArray }}]</div>
</div>
<hr>
<div class="row">
    <div class="col-md-6">Interval: </div>
    <div class="col-md-6"><h3 #container>Not yet set value</h3></div>
    <!-- <div class="col-md-4">newCreatedArray[]: [{{ newCreatedArray }}]</div> -->
</div>
<hr>
<div class="row">
    <div class="col-md-6">Merge: <p><i>multiple subscribe of observable </i></p></div>
    <div class="col-md-6">
        <textarea  cols="30" rows="5" #textArea></textarea>
    </div>
    <!-- <div class="col-md-4">newCreatedArray[]: [{{ newCreatedArray }}]</div> -->
</div>
<hr>
<div class="row">
    <div class="col-md-6">Of: </div>
    <div class="col-md-6">
        <p #ofOperator></p>
    </div>
    <!-- <div class="col-md-4">newCreatedArray[]: [{{ newCreatedArray }}]</div> -->
</div> 