<div class="container" style="margin: 10px">
    
    <div class="alert alert-info alert-dismissible">
        <strong >Update Moc User </strong>  
    </div> 
    
    <form class="row">
        <div class="col-md-6">
            <input type="text" #login class="form-control" placeholder="Login..">
        </div>
        <div class="col-md-6">
            <input type="text" #password class="form-control" placeholder="Password..">
        </div><br><br>
        <div class="col-md-12">
            <button type="button" class="btn btn-info">Update</button>
        </div>
    </form>
</div>